
.modal-main-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  position:fixed;
  overflow: 'auto';
  visibility: hidden;
  box-sizing: border-box;
  user-select: none;
  /* background-color: rgba(33, 34, 55, .9); */
}
.modal-main-container * {
  user-select: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in {
  animation: fadeIn .5s ease-in forwards;
}

.fade-out {
  animation: fadeOut .5s ease-out forwards;
}